:root {
    --color-blue-100: #161d30;
    --color-blue-200: #292f45;
    --color-blue-300: #2a425a;
    --color-blue-400: #353c56;
    --color-blue-500: #685fd6;

    --color-gray-100: #afb1b9;
    --color-gray-200: #bfc3c8;

    --color-green-100: #316c58;
    --color-green-200: #29bd6e;
    --color-green-300: #55e294;

    --color-red: #ea5355;
    --color-orange: #df8e45;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:inherit;
    letter-spacing: inherit;
}

html { font-size: 62.5%; }

body {
    font-family: 'Open Sans',sans-serif;
    letter-spacing: .2rem;
    display: flex;
    background: var(--color-blue-100);
}

body,html {
    height:100%;
}

ul,li {
    list-style-type: none;
}

button {
    cursor: pointer;
    transition: background .2s;
}

ion-icon {
    font-size:18px;
    color:rgb(77, 77, 77);

}

.todo-list__app {
   background-color:var(--color-blue-200);
   border-radius: 4px;
   /* overflow: hidden; */
   box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .24);

   min-width:37.5rem;
   margin: auto;

}

.todo-add-item__container {
    padding: 3rem 2rem;
    font-size: 1.2rem;
}

.todo-add-item__container >.heading {
    font-size: 3rem;
    color: #fff;
}

.todo-add-item {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;

    padding:3rem 0 1rem 0;
}

.inputItem {
    padding: 1.2rem 1.5rem;
    outline:transparent;
    flex-grow: 1;
    border: 0;
    background-color: var(--color-blue-300);
    color: var(--color-gray-200);
}


.inputItem::placeholder {
    color: var(--color-gray-100);

}

button[type="submit"] {
    border: none;
    background-color: var(--color-green-200);
    padding: 1rem 3rem;
    margin-left: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--color-green-300);
}

.todo-list__container {
    padding:2rem;
    background-color:#2b445a;
}

.todo-item {
    display:grid;
    grid-template-columns: 1fr minmax(20rem,auto) 1fr 1fr;
    grid-template-rows: auto;
    column-gap: .8rem;

    margin-bottom: 1rem;
    padding:.8rem 2rem;
    border-radius:3px;
    /* box-shadow: 2px 2px 8px rgba(77, 77, 77, .5); */
    background: #292f45;

    position:relative;
}
.todo-item:last-child {
    margin-bottom: 0;
}

.button-check {
    grid-column: 1/2;

    align-self:center;
    justify-self: center;
    width:1.5rem;
    height:1.5rem;
    border-radius:.2rem;
    border:2px solid #726a95;
    position:relative;
    outline:transparent;
}

.fas {
    font-family: fontawesome;
}

.fa-check {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#726a95;
    pointer-events: none;
}

.todo-item:not(.done) .fa-check {
    display: none;
}

.todo-item.done .fa-check {
    display: block;
}

.todo-item.done .task-name {
    text-decoration: line-through;
}

.task-name {
    grid-column: 2/3;

    padding:1rem;
    font-size:1.1rem;
    color: var(--color-gray-200);
}

.fa-edit {
    grid-column: 3/4;
}

/*Container que abre ao clicar no icon do lapis para editar tarefa*/

.editContainer {
    position:absolute;
    z-index: 99999;
    top:4rem;
    left:2rem;
    width:120%;
    height:6rem;
    background-color:rgb(225, 208, 252);
    border-radius: .4rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .24);

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    display:none;
}

.editContainer .editInput {
    background-color:transparent;
    border:none;
    border:2px solid #4b3d8a;
    border-radius:.2rem;
    padding:.5rem 1rem;
}

.editContainer .editInput:focus {
    outline:none;
}

.editContainer .editButton,
.editContainer .cancelButton {
    border:none;
    outline:transparent;
    padding: .7rem 2rem;

}
.editContainer .editButton {
    background-color: #4b3d8a;
    color: seashell;
}

.editContainer .cancelButton {
    background-color: #8a3d3d;
    color: seashell;
}

.editContainer .editButton:hover {
    background-color: #8478b9;
    color: seashell;
}
.editContainer .cancelButton:hover {
    background-color: #6f3131;
    color: seashell;
}
/*FIM ---- Container que abre ao clicar no icon do lapis para editar tarefa*/

.fa-trash-alt {
    grid-column:4/-1;
}

.fa-edit,
.fa-trash-alt {
    outline:none;
    border:none;
    background-color: transparent;
    cursor: pointer;
    justify-self: center;
    align-self:center;
    font-size: 1.8rem;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: color .2s, transform .2s;
}

.fa-edit:hover,
.fa-trash-alt:hover {
    transform: scale(1.2);
    outline:none;
    border:none;
}

.fa-trash-alt {
    color: rgb(134, 134, 134);
}

.fa-edit {
    color:#70608f;
}


.fa-edit:hover {
    color: var(--color-blue-500);
}

.fa-trash-alt:hover {
    color: var(--color-red);
}


.fa-edit:active,
.fa-trash-alt:active {
    transform: scale(1,1);
    outline:none;
    border:none;
}
